@font-face {
    font-family: 'interbold';
    src: url('font/inter-bold-webfont.woff2') format('woff2'),
         url('font/inter-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acherus_grotesqueblack';
    src: url('font/acherus_grotesque_-_black-webfont.woff2') format('woff2'),
         url('font/acherus_grotesque_-_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acherus_grotesquebold';
    src: url('font/acherus_grotesque_-_bold-webfont.woff2') format('woff2'),
         url('font/acherus_grotesque_-_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acherus_grotesqueextrabold';
    src: url('font/acherus_grotesque_-_extrabold-webfont.woff2') format('woff2'),
         url('font/acherus_grotesque_-_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acherus_grotesquelight';
    src: url('font/acherus_grotesque_-_light-webfont.woff2') format('woff2'),
         url('font/acherus_grotesque_-_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acherus_grotesquemedium';
    src: url('font/acherus_grotesque_-_medium-webfont.woff2') format('woff2'),
         url('font/acherus_grotesque_-_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acherus_grotesqueregular';
    src: url('font/acherus_grotesque_-_regular-webfont.woff2') format('woff2'),
         url('font/acherus_grotesque_-_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acherus_grotesquethin';
    src: url('font/acherus_grotesque_-_thin-webfont.woff2') format('woff2'),
         url('font/acherus_grotesque_-_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
  scroll-behavior: smooth;
}


body{


}
 .bg-morado{
  background: linear-gradient(103.16deg, #5642CC 20.73%, #7C6BE1 92.06%);
 }


.bienvenida{
  background-image: url(img/trama.png);
  padding: 300px 0px 283px 0px;
  background-size: cover;
background-repeat: no-repeat;
}

.sec-registro{
  background-image: url(img/trama.png);
  padding: 87px 20px 247px 20px;
  background-size: cover;
background-repeat: no-repeat;
}

.logo-bosque{
padding-top: 12%;
width: 100%;
}

.txt-blanco{
  font-family: 'acherus_grotesquemedium';
font-style: normal;
font-weight: 850;
font-size: 20px;
line-height: 21px;
text-align: center;

color: #FFFFFF;

margin-bottom: 50px;

}

.txt-intro{
  font-family: 'interbold';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 44px;
/* or 91% */
text-align: center;


color: #FFFFFF;

}

.txt-abajo {
font-family: 'acherus_grotesquemedium';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
}

.boton {
padding: 15px 0 15px 0;
}

.forn-registro {
background: rgba(195, 230, 225, 0.25);
border-radius: 16px;
padding: 15px;
}

.btn-blanco{
  font-family: 'acherus_grotesquemedium';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 28px;
text-align: center;
color: #5642CC;
background: #F2F1FC;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 44px;
padding-top: 13px;

}

input[type=text] {
  border: 1px solid #FFFFFF !important;
border-radius: 8px !important;
color: #ffffff;

}

input[type=number] {
  border: 1px solid #FFFFFF !important;
border-radius: 8px !important;
color: #ffffff;

}

.txt-terminos{
  font-family: 'acherus_grotesquemedium';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* or 120% */


color: #FFFFFF;
}


.txt-terminos a{
  color: #fff;
}

.nombre-usuario{
  font-family: 'acherus_grotesquebold';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
/* identical to box height, or 100% */


/* neutrals/dark 1 */

color: #1F2933;
}

.text-pequeno{
  font-family: 'acherus_grotesquemedium';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: left;
/* identical to box height, or 150% */

text-align: center;

/* neutrals/grey 1 */

color: #6B7580;
}

.nommbres{
  margin-top: 8%;
}

.banner{
  text-align: center;
}

.banner img{
  /* width: 100%; */
}

.idioma p{
  font-family: 'acherus_grotesquemedium';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

/* neutrals/dark 1 */

color: #1F2933;
}

.idioma-solo {
display: flex;
background: #FFFFFF;
box-shadow: 10px 3px 50px rgba(30, 65, 110, 0.2);
border-radius: 20px;
padding: 5%;
margin-top: 7%;
}

.info-idioma {
display: grid;
margin-left: 5%;
}

.nombre-idioma {
font-family: 'acherus_grotesquemedium';
font-style: normal;
font-weight: 850;
font-size: 18px;
line-height: 24px;
color: #1F2933;
}

.idioma-solo a{
margin-left: 49%;
}

.icon-flecha{
/*  margin-left: 49%; */
}

.img-abajo{
  text-align: center;
}


.num-pregunta{

  padding-top: 10%;
  padding-bottom: 10%;

  font-family: 'acherus_grotesquemedium';
font-style: normal;
font-weight: 850;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */


color: #FFFFFF;
}

.timeline{
  margin-top: 8%;
}

.frame-pregunta{
  margin-top: 8%;

  background-color: #ffffff;


border-radius: 24px;

padding-top: 5%

}

.text-gris{
  font-family: 'acherus_grotesquemedium';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */


align-items: center;
letter-spacing: 0.02em;
text-align: center;



color: #B4B1B1;
}

.txt-pregunta{
  font-family: 'acherus_grotesquemedium';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 16px;
/* identical to box height, or 89% */

text-align: center;
color: #000000 !important;
}

.respuestas{
  display: grid;
margin-top: -53%;
padding-left: 7%;
padding-right: 7%;
}

.btn-respuesta{
  background: rgba(51, 182, 169, 0.8);
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-top: 3%;
padding-bottom: 3%;
height: auto;
margin: 1%;

font-family: 'acherus_grotesquemedium';
font-style: normal;
font-weight: 500;
font-size: 16px;

/* identical to box height, or 100% */


color: #FFFFFF;

width: 100%;


}
.btn-respuesta-correcta{
background: radial-gradient(64.17% 35.41% at 62.8% 45.69%, rgba(183, 214, 118, 0.8) 0%, rgba(128, 188, 0, 0.8) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-top: 3%;
padding-bottom: 3%;
height: auto;
margin: 1%;
font-family: 'acherus_grotesquemedium';
font-style: normal;
font-weight: 500;
font-size: 16px;

/* identical to box height, or 100% */


color: #FFFFFF;



}

.img-pregunta > img:nth-child(1) {
width: 100%;
}

.text-gris{
  font-family: 'acherus_grotesquemedium';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

/* neutrals/grey 1 */

color: #6B7580;
}

.resultado{
  text-align: center;
}

.num-puntaje{
  font-family: 'acherus_grotesqueextrabold';
font-style: normal;
font-weight: 850;
font-size: 40px;
line-height: 50px;
/* identical to box height */
margin-top: -16%;

color: #000000;
}

.text-resultado{
  font-family: 'acherus_grotesquemedium';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 16px;
/* or 118% */

text-align: center;

color: #5642CC;
margin-top: 12%;
}


.cat-disabled{
  filter: grayscale(100%);
}
/* escala grises */
.cat-disabled{
  filter: grayscale(100%);
  pointer-events: none;
  cursor: default;
}


.button0:active {
  /* set time duration to your needs */
  animation: gradient 100ms;
  background: #f88;
  color: #fff;
  box-shadow: none;
}
.button1:active {
  /* set time duration to your needs */
  animation: gradient2 100ms;
  background: #7af77a;
  color: #fff;
  box-shadow: none;
}


.modal {
  background-color: transparent!important;

  /* max-height: 68%;
  width: 32%; */
}

.modal .modal-content {
  padding: 0px;
}
